.dashboard {
    position: fixed;
    top : 5rem;
    left: 270px;
    width: calc(100vw - 270px);
    height: calc(100vh - 5rem);
    overflow-y: auto ;
    overflow-x: hidden ;
    padding: 0px 30px 0px 30px;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out, padding  0.3s ease-in-out;
}

.opened{
    left: 0;
    width: 100vw;
    padding: 0px 70px 0px 70px;
}