.dashboard {
    position: fixed;
    top : 5rem;
    left: 270px;
    width: calc(100vw - 270px);
    height: calc(100vh - 5rem);
    overflow-y: auto ;
    overflow-x: hidden ;
    padding: 0px 10px 0px 10px;
}

.dashboard.opened{
    left: 0;
    width: 100vw;
}
/* .dashboard.opened > h2{
    padding-left: 100px;
} */